@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/EuclidCircularA-Bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/EuclidCircularA-BoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/EuclidCircularA-Italic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/EuclidCircularA-Regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/EuclidCircularA-Medium.woff2');
    font-weight: 500;
}