
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-chart-pie:before { content: '\e801'; } /* '' */
.icon-chart-line:before { content: '\e802'; } /* '' */
.icon-doc-new:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-dollar:before { content: '\e805'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
